@page
@model Proiect_Borsa_Andrei.Pages.Mecanics.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Mecanic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Mecanic.ID" />
            <div class="form-group">
                <label asp-for="Mecanic.Code" class="control-label"></label>
                <input asp-for="Mecanic.Code" class="form-control" />
                <span asp-validation-for="Mecanic.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mecanic.FirstName" class="control-label"></label>
                <input asp-for="Mecanic.FirstName" class="form-control" />
                <span asp-validation-for="Mecanic.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mecanic.LastName" class="control-label"></label>
                <input asp-for="Mecanic.LastName" class="form-control" />
                <span asp-validation-for="Mecanic.LastName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Mecanic.Available" /> @Html.DisplayNameFor(model => model.Mecanic.Available)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Mecanic.Type" class="control-label"></label>
                <input asp-for="Mecanic.Type" class="form-control" />
                <span asp-validation-for="Mecanic.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
